<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" >
    <title >Login </title >
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>

<div class="container-fluid text-center">

    <form th:action="@{/login}"
          method="post"
          style ="max-width: 350px; margin: 0 auto">


        <a th:href="@{/}">HomePage</a>

        <div th:if="${param.error}" >
            <p class="text-danger" >[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]] </p>
        </div>

        <div th:if="${param.logout}" >
            <p class="text-primary">You have been logged out. </p>
        </div>


        <div class="border border-secondary p-3 rounded">

            <!-- Username input -->
            <div>
                <input name="username" placeholder="username here..." type="text" class="form-control" required autofocus>

            </div>


            <div>
                <input name="password" placeholder="password here..." type="password" class="form-control" required autofocus>
            </div>




            <div>

                <input type="checkbox" name="remember-me" />&nbsp;Remember Me


                <input  type="submit"
                        value="Login"
                        class="btn btn-primary" />

            </div>
        </div>

    </form>

</div>


</body>
</html>