<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register page</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
  <style>
    body{
      background-color: lightskyblue;
    }
    .error{
      color: red;
    }
    .content{
      border: black 3px solid;
      width: 40%;
      height: auto;
      margin-top: 5%;
      background-color: darkgray;
    }
    .myPicture{
      height: auto;
      width: auto;
      max-height: 5%;
      max-width: 5%;
    }
  </style>
</head>
<body>
<a th:href="@{/}">
  <img th:src="@{/static/images/giraffe.jpg}" alt="404 picture not found" class="myPicture">
</a>
<div class="content container-fluid text-center">

  <form th:action="@{/register}" th:object="${userModel}" method="post">

    <div>
      <p>Username</p>
      <input th:field="*{username}" type="text" placeholder="write your username here!">
      <!-- Display error -->
      <p th:if="${ #fields.hasErrors('username')}"
         th:errors="*{username}"
         th:errorclass="error"
      ></p>
    </div>

    <div>
      <p>Password</p>
      <input th:field="*{password}" type="password" placeholder="write your password here!">
      <ul>
        <li th:each="error : ${#fields.errors('password')}"
            th:text="${error}"
            class="error">

        </li>
      </ul>
    </div>
    <input type="submit" value="Register">

  </form>


</div>
</body>
</html>