<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register page</title>

  <style>
    .error{
      color: red;
    }
  </style>
</head>
<body>
<div>

  <form th:action="@{/register}" th:object="${userModel}" method="post">

    <div>
      <p>Username</p>
      <input th:field="*{username}" type="text" placeholder="write your username here!">
      <!-- Display error -->
      <p th:if="${ #fields.hasErrors('username')}"
         th:errors="*{username}"
         th:errorclass="error"
      ></p>
    </div>

    <div>
      <p>Password</p>
      <input th:field="*{password}" type="password" placeholder="write your password here!">
      <ul>
        <li th:each="error : ${#fields.errors('password')}"
            th:text="${error}"
            class="error">

        </li>
      </ul>
    </div>
    <input type="submit" value="Register">

  </form>


</div>
</body>
</html>